<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Upload Image</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
  <!--link href="lib/ionic/css/ionic.css" rel="stylesheet"-->
  <link href="css/style.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="js/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>
  <script src="js/app.js"></script>
  <!--script src="js/angularfire.min.js"-->
</head>

<body ng-app="starter">
  <div align="center" ng-controller="SecureController as secure">
    <div class="dropdown" align="center">
      <button class="dropbtn">Upload Image</button>
      <div class="dropdown-content">
        <a href ng-click="upload()" onchange="showMyImage(this)">Take Photo</a>
        <input id="upload-file" type="file" onchange="showMyImage(this)" />
        <a href="#" id="fileupload">Choose From Library</a>
      </div>
    </div>
  </div>
  </br>
  <div align="center">
    <img id="thumbnil" style="width:180px; margin-top:10px;" src="" />
    </br>
    </br>
    <button id="thumbnail" ng-click="submitMyImage()">SUBMIT</button>
  </div>
  <script>
    $("#fileupload").click(function() {
      $("#upload-file").click();
    });
  </script>
</body>

</html>
